springxsd/web/user-defined.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://localhost:8080/springxsd/user"
        elementFormDefault="qualified">

    <element name="user">
            <complexType>
                <attribute name="id" type="string"/>
                <attribute name="userName" type="string"/>
                <attribute name="eMail" type="string"/>
            </complexType>
    </element>
        </schema>